body{
	font-family: sans-serif;
}
header{
	text-align: center;
	padding: .5em;
	margin-bottom: .5em;
	background-color: #edc;
	border-radius: 10px;
}
section{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: auto;
	grid-gap: .5em;
}
header, article{
	text-align: center;
	padding: 1em;
	background-color: #edc;
	border-radius: 10px;
}
