body{
	font-family: sans-serif;
}
header{
	text-align: center;
	padding: .5em;
	margin-bottom: .5em;
	background-color: #cdd;
	border-radius: 10px;
}
section{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	grid-template-rows: auto;
	grid-gap: .5em;
}
header, article{
	text-align: right;
	padding: 1em;
	background-color: #bcc;
	border-radius: 10px;
}
article h2{
	color: white;
}
article img{
	width: 140px;
	margin-right: 1em;
	float: left;
	border-radius: 8px;
}
